<app-page-headline [h1]="true" [text]="'Mit Effizienz und Qualität zu Ihrer Lösung.'">
</app-page-headline>
<div style="margin-bottom: 5rem">
  <div class="content-wrapper">
    <div class="flex flex-column">
      <p class="subline">Die Reise beginnt im Jahr 2019 mit der Installation unseres ersten Konferenzraums.
        Seitdem sind wir zu einem angesehenen Anbieter für Medien- und Veranstaltungstechnik gewachsen und
        zu einem starken Akteur auf dem AV Markt geworden. Wir bedienen Kunden in ganz Europa und liefern komplexe,
        ganzheitliche Komplettlösungen.</p>
      <app-button class="button" [btnBig]="true" [btnText]="'zum team'" routerLink="/team"></app-button>
    </div>


  </div>
</div>





    <div>
    <div class="boxes">
      <app-info-box class="box" [isService]="false" [isGrey]="true" *ngFor="let item of itemsArray" [headline]="item.headline" [caption]="item.caption">
      </app-info-box>
    </div>



