:host {
  display: block;
}


app-page-headline::ng-deep .headline2 {
  margin-bottom: 5rem;
}

@media screen and (max-width: 1024px) {
  app-page-headline::ng-deep .headline2 {
    margin-bottom: 2rem;
  }
}


.scroll-button {
  z-index: 100;
  position: absolute;
  left: 20%;
  top: 90%;
  width: 6rem;
  height: 6rem;
  background-color: #d70000;
  pointer-events: auto;
  cursor: pointer;
  }

.scroll-button:hover {
  background-color: #d70000;
}
