<header>
  <nav class="navbar" id="navbar">
    <div (click)="scrollTop()" class="navbar-logo" routerLink="/">
      <div class="logo">
        <img src="assets/images/zelos-logo.png">
      </div>
      <!--<app-icon [icon]="'insta'"></app-icon>-->
    </div>
    <ul class="navbar-menu">
      <li class="navbar-item">
        <a (click)="navigateAndScroll('services')"  routerLinkActive="active"  class="navbar-link semibold">Leistungen</a>
      </li>
      <li class="navbar-item">
        <a (click)="navigateAndScroll('references')" routerLinkActive="active"  class="navbar-link semibold">Referenzen</a>
      </li>
      <li class="navbar-item">
        <a (click)="navigateAndScroll('aboutUs')" routerLinkActive="active" class="navbar-link semibold">Über uns</a>
      </li>
      <li class="navbar-item">
        <a (click)="navigateAndScroll('contact')" class="navbar-link semibold" routerLinkActive="active">Kontakt</a>
      </li>
    </ul>
    <div class="social-media" >
      <a href="https://www.linkedin.com/company/zelos-media-gmbh/posts/?feedView=all">
        <img class="socials" src="../../../../assets/images/icons/icon-linkedin.png">
      </a>
      <a href="https://www.instagram.com/zelos_media_gmbh/">
        <img class="socials" src="../../../../assets/images/icons/icon-insta.png">
      </a>
    </div>
    <div class="navbar-burger"[ngClass]="{'is-active': isMenuActive}" (click)="toggleMenu()" (keydown)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>
</header>




<div class="navbar-menu-mobile" [ngClass]="{'is-active': isMenuActive}">
  <a href="https://www.linkedin.com/company/zelos-media-gmbh/posts/?feedView=all">
    <img class="socials-mobile" src="../../../../assets/images/icons/icon-linkedin.png">
  </a>
    <a href="https://www.instagram.com/zelos_media_gmbh/">
      <img class="socials-mobile" src="../../../../assets/images/icons/icon-insta.png">
    </a>
  <ul class="navbar-menu-mobile-wrapper">
    <li><a (click)="navigateAndScroll('services')">Leistungen</a></li>
    <li><a (click)="navigateAndScroll('services')">Referenzen</a></li>
    <li><a (click)="navigateAndScroll('services')">Über uns</a></li>
    <li><a (click)="navigateAndScroll('services')">Kontakt</a></li>
  </ul>
</div>


